{%- extends 'master.html' -%}
{%- block head -%}
	{%- include 'head.html' -%}
{%- endblock -%}
{%- block body -%}
	<article class="post">
		<section>
			<h3>About</h3>
			<p>

				Lorem ipsum dolor sit amet, per ne quidam evertitur, in erant iuvaret nec. Cu nominati posidonium vis, case diceret oporteat ius id, at tale omittam eligendi vix. Mel clita accusamus philosophia ex, volumus lucilius perfecto ad pri, in quo nostro contentiones. Quo eu indoctum maluisset, ut oratio constituto definitiones vim.

Delectus partiendo consulatu no mel, qui discere consetetur concludaturque cu. Id suscipit iracundia similique sea. Ea facer erant iudicabit eum, veri detracto gubergren et sea. Ea appareat reprimique mei. Virtute denique ut est, corpora accusata maiestatis vix et. Pro libris inermis consequuntur an, tantas facilisis suscipiantur eos an. Posse fierent ei sit, eos ponderum ocurreret ut.

Dicta lucilius oportere at nec, sed ad porro volumus albucius. Et mel evertitur expetendis, nec augue vivendo omittantur ut, nusquam conceptam in qui. Te qui vidisse euripidis scribentur, no omnium concludaturque est, error option consequat at mei. No unum mucius ius. Graecis erroribus persequeris te est, cu audire prodesset interesset usu.

No nam tation homero officiis, duo alii modo quodsi cu. Vidit laudem meliore sed ad, ad mea gubergren philosophia, in vocent suscipit eam. Quo nusquam convenire assentior an. Justo semper eam et. Quo nisl errem corpora ea, eu dicam denique lobortis mei.

Ut pro case invidunt, vel ne scaevola prodesset rationibus. Vis cu admodum menandri consetetur. Hinc interpretaris eu mea, in munere bonorum mei. Mel et admodum tibique efficiendi. Postea utamur vel ea, duo ignota consectetuer ne, ea eos maluisset democritum.
			</p>


		</section>
	</article>
{%- endblock -%}
{%- block additional_js -%}
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{%- endblock -%}
