{%- extends 'master.html' -%}

{%- block body -%}
	<article class="post">
		<section>
			<h1>Add User</h1>
			{%- with messages = get_flashed_messages(with_categories=True) -%}
				{%- if messages -%}
					{%- for category, message in messages -%}
						<div class="response">
							<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
						</div>
					{%- endfor -%}
				{%- endif -%}
			{%- endwith -%}
			<form method="post" action="{{ url_for('save_user') }}">
				<div class="row uniform">
					<div class="4u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="user-id">Required field</label>
						{%- endif -%}
						<input type="text" name="user-id" id="user-id" placeholder="Username" value="" required autocomplete="off">
					</div>
					<div class="4u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="user-email">Required field</label>
						{%- endif -%}
						<input type="email" name="user-email" id="user-email" placeholder="Email" value="" required autocomplete="off">
					</div>
					<div class="4u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="user-new-password">Required field</label>
						{%- endif -%}
						<input type="password" name="user-new-password" id="user-new-password" placeholder="Password" value="" required autocomplete="off">
					</div>
					<div class="4u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="user-new-password-again">Required field</label>
						{%- endif -%}
						<input type="password" name="user-new-password-again" id="user-new-password-again" placeholder="Repeat Password" value="" required autocomplete="off">
					</div>
					<div class="4u$">
                        <ul class="actions">
                            <li>
								<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							    <input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
						    </li>
					    </ul>
				    </div>
			    </div>
			</form>
		</section>
	</article>
{%- endblock -%}