<!DOCTYPE html>
<html lang="en">
	{%- block head -%}
		{%- include 'head.html' -%}
	{%- endblock -%}
	<body>
		<div id="wrapper">
			{%- block nav -%}
				{%- include 'nav.html' -%}
			{%- endblock -%}
			<section id="menu">
				<section>
					<form class="search" method="get" action="#">
						<input type="text" name="query" placeholder="Search" />
					</form>
				</section>
			</section>			
			<div id="main">
				{%- block body -%}
					{%- if posts -%}
						{%- for post in posts -%}							
							<article class="post">
								<header>
									<div class="title">
										<h2>
											<a href="{{ url_for('single_post', permalink=post['permalink']) }}">{{ post['title'] | safe }}</a>
										</h2>
									</div>
									<div class="meta">
										
										<time class="published">{{ post['date'] |formatdate }}</time>
										<span class="name">{{ post['author'] }}</span>						
									</div>
									
								</header>								
								{%- if post['preview'] -%}
									{{ post['preview']|markdown }}
								{%- else -%}
									{{ post['body']|markdown }}
								{%- endif -%}								
								<footer>
									<ul class="stats">										
										{%- if post['tags'] -%}
											{%- for tag in post['tags'] -%}
												<li>
													<a href="{{ url_for('posts_by_tag', tag=tag) }}">{{ tag }}</a>
												</li>
											{%- endfor -%}
										{%- endif -%}
									</ul>
								</footer>
							</article>
						{%- endfor -%}
					{% else %}
						<div class="post">
							<div class="title">
								<h1>Posts not found..</h1>									
							</div>
						</div>
					{%- endif -%}
					
				{%- endblock -%}
				{% if pagination and pagination.pages > 1 %}
					<div class="pagination-wrap">
						<ul class="pagination">
						  {% for page in pagination.iter_pages() %}
						    {% if page %}
						        <li {% if page == pagination.page %}class="active"{% endif %}><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
						    {% else %}
						      <li><span class=ellipsis>…</span></li>
						    {% endif %}
						  {% endfor %}
						  {% if pagination.has_next %}
						    <li><a href="{{ url_for_other_page(pagination.page + 1)
						      }}">&raquo;</a></li>
						  {% endif %}
						</ul>
					</div>
				{% endif %}
			</div>
			{%- include 'sidebar.html' -%}
		</div>
		
		{%- block scripts -%}
			{%- block additional_js -%}{%- endblock -%}			
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
		{%- endblock -%}
	</body>
</html>
