<!DOCTYPE html>
<html lang="en">
	{%- block head -%}
		{%- include 'head.html' -%}
	{%- endblock -%}
	<body>
		<div id="wrapper">
			{%- block nav -%}
				{%- include 'nav.html' -%}
			{%- endblock -%}
			<div id="main">
				{%- block body -%}					
				{%- endblock -%}
				{%- include 'footer.html' -%}
			</div>
		</div>		
		{%- block scripts -%}						
		    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
		    <!--script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script-->
		    <script src="{{ url_for('static', filename='js/a-tools.js') }}"></script>
			<script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
			<script src="{{ url_for('static', filename='js/mdmagick.js') }}"></script>
	
		    <script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
		    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		{%- endblock -%}
		<section id="menu">
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>
		</section>	
	</body>
</html>
