{%- extends 'master.html' -%}

{%- block body -%}
	{% if session.get('post-preview') %}
		{% set post_title = session['post-preview'].get('title', None) %}
		{% set post_preview = session['post-preview'].get('preview', None) %}
		{% set post_body = session['post-preview'].get('body', None) %}
		{% set post_tags = session['post-preview'].get('tags', None) %}
	{% else %}
		{% set post_title = '' %}
		{% set post_preview = '' %}
		{% set post_body = '' %}
		{% set post_tags = '' %}
	{% endif %}

	<article class="post">
		<section>
			<h1>New post</h1>
			{%- with messages = get_flashed_messages(with_categories=True) -%}
				{%- if messages -%}
					{%- for category, message in messages -%}
						<div class="response">
							<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
						</div>
					{%- endfor -%}
				{%- endif -%}
			{%- endwith -%}
			<form method="post" id="post-form" action="{{ url_for('new_post') }}">
				<div class="row uniform">
					<div class="8u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="post-title">Required field</label>
						{%- endif -%}
						<input type="text" name="post-title" id="post-title" placeholder="Post Title" value="{{ post_title | safe }}" required />
                    </div>
                    <div class="8u$">
						<div class="select-wrapper">
							<select name="status" id="status">
								<option value="0">Draft</option>
								<option value="1">Publish</option>
							</select>
						</div>
					</div>
					<div class="8u$">
						<textarea name="post-short" id="post-short" placeholder="Short Text" rows="3">{{ post_preview | safe }}</textarea>
					</div>
					<div class="8u$ {% if error and error_type == 'validate' %} has-error{% endif %}">
						{%- if error and error_type == 'validate' -%}
							<label for="post-full">Required field</label>
						{%- endif -%}
						<textarea name="post-full" id="post-full" placeholder="Full Text" rows="6" required>{{ post_body | safe }}</textarea>
					</div>
					<div class="8u$">
					    <label for="post-tags">Tags</label>
					    <input type="text" name="post-tags" id="post-tags" placeholder="Comma separated" value="{{ ','.join(post_tags) }}">
				    </div>
				    <div class="8u$">
                        <ul class="actions">
                        	<input type="hidden" name="post-preview" id="preview">
                        	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                            <li>                                
                                <input type="submit" value="Submit" id="post-submit" />
                            </li>
                            <li><input type="submit" value="Preview" id="post-preview" /></li>
                        </ul>
                    </div>
				</div>
			</form>
		</section>
	</article>
{%- endblock -%}
