{%- extends 'master.html' -%}
{%- block body -%}
	<article class="post">
		<section>
			<h1>Post</h1>
			{%- with messages = get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
            <ul class="actions">
            	<li><a href="{{ url_for('new_post') }}" class="button fit small">Add new</a></li>
        	</ul>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Post Date</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{%- for post in posts -%}
							<tr>
								<td><a title="Preview" href="{{ url_for('single_post', permalink=post['permalink']) }}" data-target="_blank">{{ post['title'] | safe }}</a></td>
								<td>{{ post['date'] |formatdate }}</td>
								<td>
									{%- if post['status'] == '0' -%}
										Draft
									{%- else -%}
										Publish
									{%- endif -%}

								</td>
								<td>
									<a title="Edit" href="{{ url_for('post_edit', id=post['id']) }}" class="fa fa-pencil"></a>
									{%- if posts|length > 1 -%}&nbsp;&nbsp;<a title="Delete" href="{{ url_for('post_del', id=post['id']) }}" class="fa fa-times"></a>{%- endif -%}
								</td>
							</tr>
						{%- endfor -%}
					</tbody>
				</table>
			</div>
		</section>
	</article>
{%- endblock -%}