{%- extends 'master.html' -%}
{%- block head -%}
	{%- include 'head.html' -%}
{%- endblock -%}
{%- block body -%}
	{%- if post -%}
		<article class="post">
			<header>
				<div class="title">
					<h1>{{ post['title'] | safe }}</h1>
					<p>
						<span class="fa fa-clock-o">&nbsp;</span>
						<i>
							Posted on {{ post['date'] |formatdate }} by {{ post['author'] }}
						</i>
					</p>					
				</div>
			</header>
			{{ post['preview']|markdown }}
			{{ post['body']|markdown }}
			<footer>
				<ul class="stats">					
					{%- if post['tags'] -%}
						{%- for tag in post['tags'] -%}
						
							<li>
								<a href="{{ url_for('posts_by_tag', tag=tag) }}">{{ tag }}</a>
							</li>

						{%- endfor -%}
					{%- endif -%}
				</ul>
			</footer>			
			<ul class="actions">
				<li>
					<a href="{{ session.get('post-preview')['redirect'] }}" class="button fit small">< Back</a>
				</li>
			</ul>
		</article>		
	{%- endif -%}
{%- endblock -%}

