{%- extends 'master.html' -%}

{%- block body -%}
    
    <article class="post">
        <section>
            <h1>Settings</h1>
            {%- with messages = get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
            <form method="post" action="{{ url_for('blog_settings') }}">
                <div class="row uniform">
                    <div class="4u$  {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                            <label for="blog-title">Required field</label>
                        {%- else -%}
                            <label for="blog-title">Blog title</label>
                        {%- endif -%}
                        <input type="text" name="blog-title" id="blog-title" placeholder="Blog Title" value="{{ default_settings['BLOG_TITLE'] }}" required autocomplete="off">
                    </div>
                    <div class="4u$">
                        <label for="blog-description">Blog description</label>
                        <input type="text" name="blog-description" id="blog-description" placeholder="Blog Description" value="{{ default_settings['BLOG_DESCRIPTION'] }}" autocomplete="off">
                    </div>
                    <div class="4u$ {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                            <label for="blog-perpage">Required field</label>
                        {%- else -%}
                            <label for="blog-perpage">Posts per page</label>
                        {%- endif -%}
                        <input type="number" min="1" name="blog-perpage" id="blog-perpage" placeholder="Posts per page" value="{{ default_settings['PER_PAGE'] }}" required autocomplete="off">
                    </div>
                     <div class="4u$">
                        <ul class="actions">
                            <li>
                                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                                <input type="submit" value="Submit" />
                            </li>
                        </ul>
                    </div>
                </div>                
            </form>
        </section>
    </article>
{%- endblock -%}