{%- extends 'master.html' -%}
{%- block body -%}
	{%- if post -%}
		<article class="post">
			<header>
				<div class="title">
					<h1>{{ post['title'] | safe }}</h1>
					<p>
						<span class="fa fa-clock-o">&nbsp;</span>
						<i>
							Posted on {{ post['date'] |formatdate }} by {{ post['author'] }}
						</i>
					</p>
					<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
						<a class="addthis_button_twitter"><i class="fa fa-twitter"></i></a>
						<a class="addthis_button_facebook"><i class="fa fa-facebook"></i></a>
						<a class="addthis_button_google_plusone_share"><i class="fa fa-google-plus"></i></a>
						<a class="addthis_button_pocket"><i class="fa fa-get-pocket"></i></a>
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56974782f5cf4996"></script>	
				</div>
			</header>
			{{ post['preview']|markdown|safe }}
			{{ post['body']|markdown|safe }}
			<footer>
				<ul class="stats">					
					{%- if post['tags'] -%}
						{%- for tag in post['tags'] -%}
						
							<li>
								<a href="{{ url_for('posts_by_tag', tag=tag) }}">{{ tag }}</a>
							</li>

						{%- endfor -%}
					{%- endif -%}
				</ul>
			</footer>
			<div id="disqus_thread"></div>
			<script>			    
			    var disqus_config = function () {
			        this.page.url = "{{ request.url }}";  
			        this.page.identifier = "{{ post['permalink'] }}"; 
			    };			    
			    (function() { 
			        var d = document, s = d.createElement('script');			        
			        s.src = '//orangesoncom.disqus.com/embed.js';			        
			        s.setAttribute('data-timestamp', +new Date());
			        (d.head || d.body).appendChild(s);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</article>		
	{%- endif -%}
{%- endblock -%}
