{%- extends 'master.html' -%}
{%- block body -%}

    <article class="post">
        <section>
            <h1>Upload File</h1>
            {%- with messages = get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
            <form method="post" enctype="multipart/form-data">
                <div class="row uniform">
                    <div class="4u$">
                        {%- if error and error_type == 'validate' -%}
                            <label for="file[]">Required field</label>
                        {%- endif -%}
                        <input type="file" name="file[]" id="file[]" required multiple>
                    </div>
                    <div class="4u$">
                        <ul class="actions">
                            <li>
                                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                                <input type="submit" value="Submit" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h1>List File</h1>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user.fetch_files() %}
                            {% for file in user.fetch_files() %}
                              <tr>
                                <td>
                                    <a href="{{ url_for('static', filename='files/' ) }}{{ file }}" title="{{ file }}" data-lightbox="{{ url_for('static', filename='files/' ) }}{{ file }}">{{ file }}</a>
                                </td>
                                <td> 
                                    <form action="/delete-file/{{ file }}" method="post"> 
                                        <div class="row uniform">
                                            <div class="8u$">
                                                <ul class="actions">
                                                    <li>
                                                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                                                        <input type="submit" name="remove" value="Remove"> 
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="2">No uploaded file found.</td></tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if responses %}
                    <p><b>Upload Results:-</b></p>
                    <ol>
                    {% for response in responses %}
                        {% if responses[response]==1 %}
                            <li>The file <strong>{{ response }}</strong> has been uploaded successfully.</li>
                        {% else %}
                            <li>The file <strong>{{ response }}</strong> couldn't be uploaded as this file extension is not allowed.</li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </section>
    </article>
{%- endblock -%}
