{%- extends 'master.html' -%}

{%- block body -%}
	<article class="post">
		<section>
			<h1>Users</h1>
			{%- with messages = get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
            <ul class="actions">
            	<li><a href="{{ url_for('add_user') }}" class="button fit small">Add new</a></li>
        	</ul>
        	<div class="table-wrapper">
        		<table>
        			<thead>
        				<tr>
        					<th>Username</th>
							<th>Email</th>
							<th>Registration Date</th>
							<th>Action</th>
        				</tr>
        			</thead>
        			<tbody>
        				{%- for user in users -%}
						<tr>
							<td><a title="Username" href="{{ url_for('edit_user', id=user['id']) }}" data-target="_blank">{{ user['id'] }}</a></td>
							<td>{{ user['email'] }}</td>
							<td>{{ user['date'] |formatdate }}</td>
							<td><a title="Edit" href="{{ url_for('edit_user', id=user['id']) }}" class="fa fa-pencil"></a>{%- if user['id'] != session['user']['username'] -%}&nbsp;&nbsp;<a title="Delete" href="{{ url_for('delete_user', id=user['id']) }}" class="fa fa-times"></a>{%- endif -%}</td>
						</tr>
						{%- endfor -%}
        			</tbody>
        		</table>
        	</div>
		</section>
	</article>
{%- endblock -%}